<!DOCTYPE html>
<html lang="en">
<head>



    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134629399-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-134629399-1');
    </script>

    <meta name="seznam-wmt" content="ViF3faWv9Rbq1Af8T4qtKvDBYhvYGrtj" />
    <meta name="msvalidate.01" content="FAD18527A4F4D5EC83F020E6779E0621" />
    <meta name="google-site-verification" content="B7wiJ93malT5X39wd57qY3j0QOug_nDmpqwozXjjH6o" />

    <meta charset="UTF-8">
    <title>Jsem zbytečný?</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Odpovídá na zásadní otázku, zda jste zbyteční">
	<meta name="author" content="Pavel Klammert">

	<link type="text/css" href="https://fonts.googleapis.com/css?family=Lobster|Montserrat|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

    <!-- Bokeh -->
    <link
            href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css"
            rel="stylesheet" type="text/css">
    <link
            href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css"
            rel="stylesheet" type="text/css">
    <link
            href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.css"
            rel="stylesheet" type="text/css">

</head>
<body>
    <div id="preloader">
        <h1 id="title_fade">Jsi zbytečný?</h1>
		<div id="status">

            <br>
            <div>
                <p>Vypočítává se zbytečnost</p>
            </div>
        </div>
         <footer id="hide_footer">
             <p>Ale ty už znáš odpověď ne?</p>
	     </footer>
	</div>

    <h1>Jsi zbytečný?</h1>
    <div id="score">
        <h2>Skóre zbytečnosti: <b>{{ us_score|safe }}</b></h2>
    </div>
    <div id="verdict">
        <h2>Verdikt: <b>Ano</b></h2>
    </div>

     <div id="my_plot">
        {{ div|safe }}
        {{ script|safe }}
    </div>

    <div id="calculation">
        <p>Založeno na <a href="{{ url_for('static', filename='random_number.png') }}">tomto</a> AI výpočtu</p>
    </div>

    <footer id="footer">
        <p class="heart">Made with <i class="icon ion-heart"></i> in Brno, Czechia 2019 by
            <a href="http://www.klammert.cz/" class="wow fadeInUp" data-wow-delay=".1s" target="_blank" title="klammert">Pavel Klammert</a>
            and
            <a href="https://excelexpert.cz/" class="wow fadeInUp" data-wow-delay=".1s" target="_blank" title="kudelka">Jan Kudělka</a>
        </p>
     </footer>

	<!-- Javascript files -->

    <script src="{{ url_for('static', filename='mainpage/js/jquery-1.11.1.min.js') }}"> </script>
     <script src="{{ url_for('static', filename='mainpage/bootstrap/js/bootstrap.min.js') }}"> </script>
     <script src="{{ url_for('static', filename='mainpage/js/jquery.parallax-1.1.3.js') }}"> </script>
     <script src="{{ url_for('static', filename='mainpage/js/imagesloaded.pkgd.js') }}"> </script>
     <script src="{{ url_for('static', filename='mainpage/js/jquery.sticky.js') }}"> </script>
     <script src="{{ url_for('static', filename='mainpage/js/smoothscroll.js') }}"> </script>
     <script src="{{ url_for('static', filename='mainpage/js/wow.min.js') }}"> </script>
     <script src="{{ url_for('static', filename='mainpage/js/waypoints.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='mainpage/js/jquery.cbpQTRotator.js') }}"> </script>
    <script src="{{ url_for('static', filename='mainpage/js/custom.js') }}"> </script>

    <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.js"></script>

</body>
</html>